extends layout
block content
    h1= title
    p Welcome our h4ackademy project!
    // Wrapper
    #wrapper

        a(href="/heatmap") Heatmap
        br

        #deviceList
            // DEVICE LIST
            h2 Device List
            table(class="table table-striped table-bordered dataTable no-footer device-table")
                thead
                    th MAC
                    th Average Signal
                    th Packages Amount
                tbody
        // /DEVICE LIST


        #deviceFrameList
            // DEVICE FRAMES LIST
            h2 Device Frame List
            table(class="table table-striped table-bordered dataTable no-footer device-table")
                thead
                    th type
                    th time
                    th signal
                    th noise
                    th bssid
                    th dst
                    th src
                    th freq
                tbody
        // /DEVICE FRAME LIST

    // /WRAPPER
    script(src='/javascripts/devices.js')