extends layout

block content
    h1= title
    a(href="/devices") Devices list
    br
    div#canvasContainer
        canvas#canv(width='800', height='600')
        span#status
        img.router-img(src="/images/router.png")
    script(src='/javascripts/webgl-heatmap.js')
    script(src='/javascripts/heatmap.js')

