body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#deviceList, #deviceFrameList{
    width: 40%;
    display: inline-block;
    margin: 20px;
}
#canvasContainer{
    position: relative;
}
.router-img{
    position: absolute;
    left: 370px;
    top: 270px;
}
#canv{
    border:1px #CCC solid;
}